<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>G-ZERO Admin</title>

    <!-- core CSS -->
    <link rel="stylesheet" href="/packages/gzero/admin/css/base.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="application/javascript">
        {# Passing module registry to javascript #}
        {% autoescape false %}
        var modules = [
            {% for moduleName in modules.getModulesNames() %}
            "{{ moduleName }}",
            {% endfor %}
        ];
        {% endautoescape %}
    </script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">G-ZERO ADMIN</a>
            <ul class="nav navbar-nav" ng-controller="CoreCtrl">
                <li><a ng-click="changeLanguage('en_US')" translate="ENGLISH" class="btn"></a></li>
                <li><a ng-click="changeLanguage('pl_PL')" translate="POLISH" class="btn"></a></li>
            </ul>
            <button type="button" class="navbar-toggle collapsed" ng-click="showSidebar = !showSidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="home" translate="DASHBOARD"></a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..." ng-model="yourName">
            </form>
        </div>
    </div>
</div>
{% verbatim %}
<div class="container-fluid">
    <div class="row row-offcanvas left" ng-class="{ 'active': showSidebar, '' : !showSidebar }">
        <div class="col-sm-3 col-md-2 sidebar sidebar-offcanvas">
            <ul class="nav nav-sidebar">
                <li ui-sref-active="active" ng-repeat="link in navBar.getItems()">
                    <a ui-sref="{{ link.action }}">{{ link.title | translate }}</a>
                    <ul class="nav">
                        <li ui-sref-active="active" ng-repeat="subLink in link.children">
                            <a ui-sref="{{ subLink.action }}">{{ subLink.title | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"  ng-click="showSidebar = false">
            <div class="quick-nav" ui-view="quickNav"></div>
            <div ui-view="index"></div>
        </div>
    </div>
</div>
{% endverbatim %}
<div class="loading-mask"><!-- Loading Mask --></div>
<!-- core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/packages/gzero/admin/js/vendor.min.js"></script>
<script src="/packages/gzero/admin/js/admin.min.js"></script>
{% for modulePath in modules.getModulesPaths() %}
    <script src="{{ modulePath }}"></script>
{% endfor %}
</body>
</html>
